body #container {
  width: 100% !important;
  height: 100%;
  // margin-left: $toc-width !important;
  overflow-x: auto;
  overflow-y: scroll;

  -webkit-overflow-scrolling: touch;
  #content {
    width: 100% !important;
    #main {
      width: 950px;
      margin: 0 auto;
      #book_wrap {
        width: 950px !important;
        // margin-left: 52px !important;
        #book_top {
          width: 988px !important;
        }
        #book {
          width: 870px !important;
          max-width: 870px !important;
          p {
            line-height: 1.2em;
          }
        }
      }
    }
  }
  #header {
    z-index: 1;

    width: 1030px;
    padding: 0 !important;
    margin: 0 auto;

            background-size: 100% !important;

    -webkit-background-size: 100%;
         -o-background-size: 100%;
    #title {
      position: relative;

      width: 1030px;
      margin: 0 auto;
      #name,
      #authors {
        margin-right: 80px !important;
      }
    }
  }
  #menu {
    width: 1030px;
    padding: 0 !important;
    margin: 0 auto;

            background-size: 100% !important;

    -webkit-background-size: 100%;
         -o-background-size: 100%;
  }
  #content,
  #footer {
    width: 1030px;
    margin: 0 auto;
  }
  #sidebar {
    position: absolute;
    right: 20px;
  }
}
