body.book #container {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  #header {
    z-index: 1;

    width: 1030px;
    padding: 0;
    margin: 0 auto;

    background-size: 100%;

    -webkit-background-size: 100%;
    -o-background-size: 100%;
    #title {
      position: relative;

      width: 1030px;
      margin: 0 auto;
      #name,
      #authors {
        margin-right: 80px;
      }
    }
  }
  #menu {
    width: 1030px;
    padding: 0;
    margin: 0 auto;

    background-size: 100%;

    -webkit-background-size: 100%;
    -o-background-size: 100%;
  }
  #content {
    width: 100%;
    #main {
      width: 950px;
      margin: 0 auto;
      #book_wrap {
        width: 950px;
        // margin-left: 52px;
        #book_top {
          width: 988px;
        }
        #book {
          width: 870px;
          max-width: 870px;
          p {
            line-height: 1.7em;
          }
        }
      }
    }
  }
  #content,
  #footer {
    width: 1030px;
    margin: 0 auto;
  }
}
