body #book {
  width: 41em;
  margin-left: 5em;

  font-family: Georgia, serif;
  line-height: 1.5em;
  color: #070707;
}

#book h1 {
  padding-top: 1em;

  font-size: 230%;

  border-top: 2px solid #333;
}

#book h2 {
  font-size: 180%;
}

#book img.tex {
  vertical-align: -6px;
}

/* Title and subtitle */

#book h1.title {
  font-size: 250%;
  text-align: center;
}

#book h1.subtitle {
  padding-top: 0;
  margin: 0;

  font-size: 140%;
  text-align: center;

  border-top: none;
}

#book h2.author {
  margin-top: 1em;

  text-align: center;
}

#book a {
  color: #002f72;
  text-decoration: none;
}

#book tt {
  font-size: 130%;
}

#book code {
  font-size: 130%;
  font-weight: bold;
  color: darkgreen;
}

#book .number {
  margin-right: 1em;
}

#book h1 span.number {
  display: block;
  margin-bottom: .5em;

  font-size: 80%;
}

#book .label {
  margin-right: .5em;

  font-weight: bold;
}

#book .header {
  margin-right: .5em;

  font-weight: bold;
}

#book .caption .header {
  font-weight: normal;
}

#book .code {
  width: 100%;
  margin-top: .5em;
}


#book .codelisting {
  width: 100%;
}

#book .verb {
  font-size: 120%;
}

#book a.ref {
  color: #002f72;
}

#book .figure {
  margin-top: 2em;

  text-align: center;
}

#book .table {
  margin-top: 2em;

  text-align: center;
}

#book .table table.tabular {
  margin-right: auto;
  margin-left: auto;
}

#book .center {
  text-align: center;
}

#book .figure img {
  border: 1px solid #666;
}

#book .displaymath {
  margin-top: 1em;
  margin-bottom: 1em;

  text-align: center;
}

#book .caption {
  margin-top: 1em;
  margin-bottom: 3em;

  text-align: center;
}

#book .equation_number {
  float: right;
}

#book table.tabular {
  border-collapse: collapse;
}

#book .tabular th {
  padding: .5em;
}

#book .tabular th.align_left {
  text-align: left;
}

#book .tabular th.align_center {
  text-align: center;
}

#book .tabular th.align_right {
  text-align: right;
}

#book .tabular th.left_bar {
  border-left: 1px solid black;
}

#book .tabular th.right_bar {
  border-right: 1px solid black;
}

#book .tabular td {
  padding: .5em;
}

#book .tabular td.align_left {
  text-align: left;
}

#book .tabular td.align_center {
  text-align: center;
}

#book .tabular td.align_right {
  text-align: right;
}

#book .tabular td.left_bar {
  border-left: 1px solid black;
}

#book .tabular td.right_bar {
  border-right: 1px solid black;
}

#book .tabular tr.top_bar {
  border-top: 1px solid black;
}

#book .tabular tr.bottom_bar {
  border-bottom: 1px solid black;
}

#book .footnotes {
  margin-top: 1em;

  font-size: 90%;

  border-top: 1px solid black;
}

#book sup.footnote {
  margin-right: 5px;

  font-size: 75%;
}

#book sup.footnote a {
  text-decoration: none;
}

#book sup.footnote a:visited {
  color: #002f72;
}


#book .footnotes .header {
  padding-top: 1em;
  padding-bottom: .5em;
  margin-left: .5em;

  font-size: 120%;
  font-weight: bold;
}

#book a.arrow {
  text-decoration: none;
}

#book a:visited.arrow {
  color: #002f72;
}

#book a.section {
  color: #070707;
  text-decoration: none;
}

#book a.heading {
  color: #000;
}

#book a:hover.heading {
  text-decoration: underline;
}

#book .sidebar {
  width: 100%;
  padding: .5em;
  padding-right: 1.5em;

  background: #eee;
  border: 1px solid #999;
}

#book .sidebar .description {
  font-weight: bold;
}

#book .highlight {
  width: 100%;
  padding-right: 1.5em;

  background: #eee;
  border: 1px solid #999;
}

#book .highlight .go {
  color: darkgreen;
}


#book pre {
  font-family: monospace;
  line-height: 1.2em;
}

#book .highlight pre {
  margin: 1em 0 1em 1em;

  font-size: 100%;
}

#book #table_of_contents {
  margin-top: -1em;
  margin-bottom: 3em;
}

#book #table_of_contents ol {
  padding-left: 0;

  line-height: 1.2em;
  list-style-type: none;
  list-style-position: outside;
}

#book #table_of_contents li.chapter {
  padding-top: 1.2em;

  font-weight: bold;
}

#book #table_of_contents ol li {
  padding-left: 3.1em;
}

#book #table_of_contents a {
  color: #002f72;
}

#book .navigation {
  padding-bottom: 2em;

  font-size: 90%;
}

#book .navigation .prev_page {
  float: left;
}

#book .navigation .next_page {
  float: right;
}
