@import "hp5b";
@import "normalize";
@import "polytexnic";
@import "screen";
@import "global";
@import "sidebar";
@import "toc";
@import "font";
@import "header";
@import "content";
@import "codehight";
* {
  -webkit-text-size-adjust: none;
}
html,
body {
  overflow: scroll !important;

  background: rgba(92, 92, 92, 1);
  background-attachment: scroll;
  background-image: none !important;
}
